---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import MainSection from '../components/MainSection.astro'
import ArticleSection from '../components/ArticleSection.astro'
import NewsSection from '../components/NewsSection.astro'
---

<Layout title="Frontend Mentor | News homepage">
	<Header />
	<main class="grid gap-16 pb-16 lg:grid-cols-main lg:grid-rows-main lg:gap-8">
		<MainSection />
		<NewsSection />
		<ArticleSection class="lg:col-span-2" />
	</main>
</Layout>
