---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import MainSection from '../components/MainSection.astro'
import ArticleSection from '../components/ArticleSection.astro'
import NewsSection from '../components/NewsSection.astro'
---

<Layout title="Frontend Mentor | News homepage">
	<Header />
	<main class="grid grid-cols-3 grid-rows-main gap-8 pb-16">
		<MainSection class="col-span-3 md:col-span-2" />
		<NewsSection class="col-span-3 mt-8 md:col-span-1 md:mt-0" />
		<ArticleSection class="col-span-3 mt-8 md:col-span-1" />
	</main>
</Layout>
