---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MainSection from '../components/MainSection.astro';
import ArticleSection from '../components/ArticleSection.astro';
import NewsSection from '../components/NewsSection.astro';
---

<Layout title="Frontend Mentor | News homepage">
	<Header />
	<main>
		<MainSection />
		<NewsSection />
		<ArticleSection />
	</main>
</Layout>

<style>
	
</style>
