---
import ArticleCard from './ArticleCard.astro'
import Image01 from '~/assets/image-retro-pcs.jpg'
import Image02 from '~/assets/image-top-laptops.jpg'
import Image03 from '~/assets/image-gaming-growth.jpg'

const articles = [
	{
		number: '01',
		title: 'Reviving Retro PCs',
		content: 'What happens when old PCs are given modern upgrades?',
		imagePath: Image01,
	},
	{
		number: '02',
		title: 'Top 10 Laptops of 2022',
		content: 'Our best picks for various needs and budgets.',
		imagePath: Image02,
	},
	{
		number: '03',
		title: 'The Growth of Gaming',
		content: 'How the pandemic has sparked fresh opportunities.',
		imagePath: Image03,
	},
] as const

const { class: className } = Astro.props
---

<section class:list={['flex flex-col lg:flex-row', 'gap-8', className]}>
	{
		articles.map(({ number, title, content, imagePath }) => (
			<ArticleCard
				number={number}
				title={title}
				content={content}
				image={imagePath}
			/>
		))
	}
</section>
