<section>
	<h2 class="text-xl font-bold">The Bright Future of Web 3.0?</h2>
	<p>
		We dive into the next evolution of the web that claims to put the power of
		the platforms back into the hands of the people. But is it really fulfilling
		its promise?
		<a href="/article/the-bright-future-of-web-3-0"> Read more</a>
	</p>
</section>
