---
import { Picture } from '@astrojs/image/components'

const { class: className } = Astro.props
---

<section
	class:list={[
		'grid-cols-1 sm:grid-cols-2 grid gap-8 items-start grid-rows-3-min-content',
		className,
	]}
>
	<div class="sm:col-span-2">
		<Picture
			class="object-cover aspect-square md:aspect-[73/30]"
			src={import('~/assets/image-web-3-desktop.jpg')}
			sizes="(max-width: 640px) 100vw, 65vw"
			widths={[200, 400, 800]}
			aspectRatio="73:30"
			alt="Web 3"
			width="1000"
			height="600"
		/>
	</div>
	<h2 class="text-5xl font-extrabold sm:row-span-2">
		The Bright Future of Web 3.0?
	</h2>
	<p class="font-light">
		We dive into the next evolution of the web that claims to put the power of
		the platforms back into the hands of the people. But is it really fulfilling
		its promise?
	</p>
	<a
		class="mt-4 block w-max bg-soft-red py-4 px-8 text-sm tracking-widest text-white hover:bg-very-dark-blue"
		href="/article/the-bright-future-of-web-3-0"
	>
		READ MORE</a
	>
</section>
