---
export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<div class="text-white">
	<a class="cursor-pointer text-xl font-extrabold hover:text-soft-orange"
		>{title}</a
	>
	<p class="mt-2">{description}</p>
</div>
