---
import NewsCard from './NewsCard.astro'

const newsList = [
	{
		title: 'Hydrogen VS Electric Cars',
		description: 'Will hydrogen-fueled cars ever catch up to EVs?',
	},
	{
		title: 'The Downsides of AI Artistry',
		description:
			'What are the possible adverse effects of on-demand AI image generation?',
	},
	{
		title: 'Is VC Funding Drying Up?',
		description:
			'Private funding by VC firms is down 50% YOY. We take a look at what that means.',
	},
] as const

const { class: className } = Astro.props
---

<section class:list={['bg-very-dark-blue px-5 py-7', className]}>
	<h2 class="mb-8 text-3xl text-soft-orange">New</h2>
	{
		newsList.map(({ title, description }, index) => {
			const isLast = index === newsList.length - 1
			const card = <NewsCard title={title} description={description} />
			const hr = isLast ? null : <hr class="my-8 text-dark-grayish-blue" />

			return (
				<>
					{card} {hr}
				</>
			)
		})
	}
</section>
